In [1]:
def get_ipython():
    raise NotImplementedError

import importlib, subprocess, sys
try:
    import pandas as pd
except ImportError:
    subprocess.check_call([sys.executable, "-m", "pip", "install", "pandas"])
    importlib.invalidate_caches()
    import pandas as pd
import numpy as np 
try:
    import matplotlib.pyplot as plt
except ImportError:
    subprocess.check_call([sys.executable, "-m", "pip", "install", "matplotlib"])
    importlib.invalidate_caches()
    import matplotlib.pyplot as plt
try:
    import seaborn as sns
except ImportError:
    subprocess.check_call([sys.executable, "-m", "pip", "install", "seaborn"])
    importlib.invalidate_caches()
    import seaborn as sns
df = pd.read_csv(r"C:\Users\sudik\Downloads\country_wise_latest.csv")

In [ ]:
'''PERFORM ANALYSIS ON A LARGE
 DATASET USING TOOLS LIKE PYSPARK
 OR DASK TO DEMONSTRATE
 SCALABILITY
 DELIVERABLE: A SCRIPT OR
 NOTEBOOK WITH INSIGHTS DERIVED
 FROM BIG DATA PROCESSING'''

In [2]:
df.head(6)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas